*{
    font-family: 'Roboto', sans-serif;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-top: 100px;
}

.navigation a {
    text-decoration: none;
    margin: 25px;
    font-size: 1.5ch;
    color: black;
}

.grid-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.grid-item {
    margin: 4rem;
    font-size: 2rem;
    text-align: center;
}

.grid-container img{
    height: 215px;
    width: auto;
}

@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px; 
    }

